.profile-page {
  &__history-wrapper {
    background-color: rgb(97, 192, 255);
    padding: 27px 80px 41px 80px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__title {
    &.history {
      margin: 0 auto;
      margin-bottom: 30px;
      font-size: 26px;
      color: black;
    }
  }

  &__history {
    display: flex;
    justify-content: center;

    .filter-img {
      position: absolute;
      top: 27px;
      right: 30px;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 6vw;
    }

    &-item {
      padding: 20px 20px 20px 18px;
      background-color: #fff;
      border: 1.79px solid rgb(216, 218, 220);
      border-radius: 18px;
      display: flex;
      font-size: 20px;
      margin: 0;

      button {
        background: transparent;
        .play-icon {
          width: 25px;
          height: 32px;
        }

        .download-icon {
          margin-right: 28px;
          width: 28px;
          height: 32px;
        }
      }

      .title {
        margin-right: 28px;
      }

      .date {
        margin-right: 28px;
      }

      .time {
        margin-right: 28px;
      }

      .process {
        margin-right: 28px;
      }
    }
  }
}
