.profile-page__history-item {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 20px 18px;
  background-color: #fff;
  border: 1.79px solid rgb(216, 218, 220);
  border-radius: 18px;
  font-size: 20px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);

  button {
    background: transparent;
    .play-icon {
      width: 25px;
      height: 32px;
    }

    .download-icon {
      margin-right: 28px;
      width: 28px;
      height: 32px;
    }
  }

  .title {
    margin-right: 28px;
  }

  .date {
    margin-right: 28px;
  }

  .time {
    margin-right: 28px;
  }

  .process {
    margin-right: 28px;
    white-space: nowrap;

    &.error {
      color: rgb(230, 70, 70);
      min-width: 111px;
    }

    &.completed {
      color: rgb(52, 168, 83);
      min-width: 111px;
    }
  }
}
